[submodule "wallet-frontend"]
	path = wallet-frontend
	url = git@github.com:gunet/funke-s3a-wallet-frontend.git
	branch = stage-3
[submodule "wallet-enterprise"]
	path = wallet-enterprise
	url = git@github.com:gunet/funke-s3a-wallet-enterprise.git
	branch = stage-3
[submodule "wallet-backend-server"]
	path = wallet-backend-server
	url = git@github.com:gunet/funke-s3a-wallet-backend-server.git
	branch = stage-3
[submodule "lib/wallet-common"]
	path = lib/wallet-common
	url = git@github.com:wwWallet/wallet-common.git
	branch = master
[submodule "ausweissapp-client"]
	path = ausweissapp-client
	url = git@github.com:gunet/ausweissapp-client.git
